@charset "UTF-8";
/* CSS Document */

canvas {
  border: 1px solid var(--color-background);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 80%;
}

#dev-pane {
  border: 1px solid var(--color-background);
  border-left: 0px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 100%;
  width: 100%;
}

/* - - - - - - - - - CONTROLS - - - - - - - - - */

.controls-settings {
  border-bottom: 1px solid black;
  cursor: default;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.controls-settings::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.controls-settings li {
  background: url("../images/icon_settings@2x.png") no-repeat left center/16px;
  border-radius: 12px;
  color: var(--color-background);
  cursor: pointer;
  font-size: 12px;
  line-height: 26px;
  margin: 1px 6px 8px 6px;
  padding: 0 0 0 22px;
}
.controls-settings li:hover {
  text-decoration: underline;
}
.controls-settings li.active {
  background-image: url("../images/icon_settings_x@2x.png");
  background-color: lightgray;
}

/* - - - - - - - - OUT - - - - - - - - */

.content-output {
  font-size: 10px;
  display: inline;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
}

.content-output li {
  border-bottom: 1px solid lightgrey;
  opacity: 0.75;
  padding: 6px 0 6px 2px;
  white-space: pre;
}
.content-output li:hover {
  background-color: lightgrey;
}

#content-output-resizer {
  background-color: lightgray;
  border: 1px solid var(--color-background);
  border-left: 0;
  /* border-right: 0; */
  cursor: ew-resize;
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 5px;
}