@charset "UTF-8";
/* CSS Document */

:root {
  --control-setting-divider-height: 4px;
  --settings-toggle-size: 30px;
  --settings-controls-max-size: 260px;
}

#main-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}


/* - - - - - - - - - CONTROLS - - - - - - - - - */

.controls-settings {
  background-color: rgba(255, 255, 255, 0.65);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 0 15px 0 0;
  cursor: default;
  list-style: none;
  margin: 0;
  max-height: 90%;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: var(--settings-toggle-size);
}

.controls-settings>li.setting-item-button:first-child {
  background: "" no-repeat center/contain;
  background-image: url("../images/icon_plus.png");
  height: var(--settings-toggle-size);
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 1px solid lightgrey;
  border-width: 1px 1px 0 0;
  border-radius: 0 15px 0 0;
}

.controls-settings>li {
  color: var(--color-background);
  font-size: 12px;
  user-select: none;
}

.controls-settings>.control-setting-divider {
  border-top: 1px solid gray;
  color: gray;
  font-size: 10px;
  padding: 4px;
  margin: 6px 0 0 0;
  padding-bottom: 0;
}

.controls-settings::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.controls-settings li.setting-item-toggle {
  background: url("../images/icon_settings@2x.png") no-repeat left center/16px;
  background-color: lightgray;
  border-radius: 12px;
  cursor: pointer;
  line-height: 26px;
  margin: 6px 6px 0 4px;
  padding: 0 0 0 20px;
}

.controls-settings li.setting-item-toggle:hover {
  text-decoration: underline;
}

.controls-settings li.setting-item-toggle.active {
  background-image: url("../images/icon_settings_x@2x.png");
  background-color: lightgray;
}

.controls-settings li.setting-item-toggle.setting-sub[lastElement] {
  margin-bottom: 8px;
  border-radius: 0 0 12px 12px;
}

.controls-settings li.setting-item-toggle.setting-sub {
  border-radius: 0;
  background-color: rgb(220, 220, 220);
  margin: 0 16px;
}

.controls-settings li.setting-item-toggle.setting-sub.minimized {
  display: none;
}

.controls-settings>li.setting-item-button {
  /* background-color: lightgray; */
  border-radius: 12px;
  cursor: pointer;
  line-height: 26px;
  margin: 6px 6px 0 4px;
  padding: 0 0 0 20px;
}

.controls-settings li.setting-item-input {
  align-items: center;
  display: flex;
  height: 20px;
  margin: 6px 6px 0 10px;
}

.controls-settings li.setting-item-input input {
  width: 50px;
}

.controls-settings li.setting-item-input p {
  margin-left: 4px;
}

.controls-settings li.setting-item-arrow {
  display: inline-block;
  height: 60px;
  margin: 10px;
}

.controls-settings li.setting-item-arrow canvas {
  background-color: white;
  border-radius: 50%;
  border: 1px solid grey;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  vertical-align: middle;
  width: 60px;
}

.controls-settings li.setting-item-arrow p {
  display: inline-block;
  margin-left: 4px;
}

.controls-settings .settings-toolbox {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin:0;
}

.controls-settings .settings-toolbox>li:last-child {
  /* border-radius: 0 0 4px 4px; */
  border-width: 1px;
}

.controls-settings .settings-toolbox>li {
  background: url("../images/icon_settings@2x.png") no-repeat center/26px;
  /* background-color: grey; */
  border: 1px solid lightgray;
  /* display: inline-block; */
  cursor: pointer;
  height: var(--settings-toggle-size);
  margin: 0;
  padding: 0;
}

.controls-settings .settings-toolbox>li.active {
  border-color: black;
  background-color: lightgray;
}

#settings-item-toolbox-pointer {
  background-size: 55%;
  background-image: url("../images/toolbox_icon_cursor_alt.svg");
}

/* #settings-item-toolbox-pointer.active {
  background-image: url("../images/toolbox_icon_cursor_alt.svg");
} */
#settings-item-toolbox-constructor {
  /* background-image: url("../images/toolbox_icon_vertex_add.svg"); */
  background-image: url("../images/toolbox_icon_vertex_add.png");
}

/* #settings-item-toolbox-constructor.active {
  background-image: url("../images/toolbox_icon_vertex_add_alt.svg");
} */
#settings-item-toolbox-eraser {
  background-image: url("../images/toolbox_icon_vertex_remove.png");
}

/* #settings-item-toolbox-eraser.active {
  background-image: url("../images/toolbox_icon_vertex_remove_alt.svg");
} */
#settings-item-toolbox-pather {
  /* background-image: url("../images/toolbox_icon_vertex_remove.svg"); */
  background-image: url("../images/toolbox_icon_pathing.png");
}

/* #settings-item-toolbox-pather.active {
  background-image: url("../images/toolbox_icon_vertex_remove.svg");
} */
#settings-item-toolbox-physcisDebugger {
  /* background-image: url("../images/toolbox_icon_vertex_remove.svg"); */
  background-image: url("../images/toolbox_icon_physics.png");
}

/* #settings-item-toolbox-physcisDebugger.active {
  background-image: url("../images/toolbox_icon_vertex_remove_alt.svg");
} */

.controls-settings .settings-toolbox>p {
  margin: 4px 4px 0 4px;
  text-align: justify;
  user-select: text;
}

.settings-dropdowns {
  list-style: none;
  height: var(--settings-toggle-size);
  position: absolute;
  display: flex;
  height: var(--settings-toggle-size);
  top: 10px;
  right: var(--settings-toggle-size);
  margin: 0;
  margin-right: 10px;
  padding: 0;
  overflow-y: visible;
}

.settings-dropdowns>* {
  flex-grow: 1;
}

.settings-dropdowns>.control-setting-divider {
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid lightgray;
  text-align: center;
  font-size: 12px;
  color: grey;
  cursor: pointer;
  height: var(--settings-toggle-size);
  overflow-y: hidden;
  text-align: left;
}

.settings-dropdowns>.control-setting-divider>*:first-child {
  color: black;
  margin: 0;
  padding: 0 10px;
  height: var(--settings-toggle-size);
  line-height: 30px;
  border-bottom: 1px solid lightgrey;
  text-align: center;
}

.settings-dropdowns>.control-setting-divider:hover {
  border: 1px solid grey;
  height: fit-content;
  overflow-y: visible;
}

.settings-dropdowns>.control-setting-divider:hover p {
  background-color: lightgrey;
}

.settings-dropdowns>.control-setting-divider>div {
  margin: 5px;
}

.settings-dropdowns.minimized {
  display: none;
}

/* - - - - - - - - DIVIDER - - - - - - - - */

.content-divider {
  cursor: ns-resize;
  border-bottom: 1px solid rgb(10, 7, 7);
  font-size: 20px;
  font-weight: bold;
  height: 0;
  margin: 0;
  margin-top: -3px;
  padding: 0;
  padding-bottom: 8px;
  line-height: 0;
  text-align: center;
}

/* - - - - - - - - OUT - - - - - - - - */

.content-output {
  font-size: 10px;
  list-style: none;
  margin: 0;
  overflow: hidden auto;
  padding: 0;
  width: 100%;
}

.content-output li {
  border-bottom: 1px solid lightgrey;
  line-height: 16px;
  padding: 2px 0 2px 2px;
  white-space: pre-wrap;
}

.content-output li:hover {
  background-color: lightgrey;
}

#content-output-resizer {
  background-color: lightgray;
  border: 1px solid var(--color-background);
  border-left: 0;
  /* border-right: 0; */
  cursor: ew-resize;
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 5px;
}

.settings-minimize-button {
  height: var(--settings-toggle-size);
  border: 1px solid lightgray;
  border-radius: 0 15px 0 0;
  cursor: pointer;
  background: "" no-repeat center/contain;
  background-image: url("../images/icon_x.png");
}

.settings-minimize-button.minimized {
  /* border-radius: 50%; */
  border-radius: 15px 15px 15px 0;
  background-image: url("../images/icon_plus.png");
  border-width: 1px;
}

.settings-minimize-button:hover {
  background-color: lightgrey;
}

.settings-toolbox.minimized {
  display: none;
}

/* - - - - - - - - MODAL - - - - - - - - */

.modal {
  position: absolute;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}

.modal>div {
  box-shadow: 0 0 20px 0 black;
  background-color: white;
  border-radius: 14px;
  margin: 0;
  max-width: 400px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

#modal-layout-load>div {
  text-align: left;
}

#modal-layout-load>div>p {
  margin: 0 0 8px 0;
  font-size: 14px;
}

.modal>div>.modal-close {
  cursor: pointer;
  border-radius: 4px 12px 4px 4px;
  border: 1px solid gray;
  background-color: transparent;
  position: absolute;
  top: 2px;
  right: 2px;
}

.modal>div>.modal-close:hover {
  background-color: lightgray;
  border-color: transparent;
  color: white;
}


#modal-layout-load>div>textarea {
  border: 1px solid black;
  min-height: 200px;
  width: 98%;
}

#modal-layout-button-load {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  float: right;
  margin-top: 10px;
}

#modal-layout-load {
  display: none;
}
