
// VARIABLES

@settings-toggle-size: 30px;

// CONTENT

.content {
  background-color: var(--color-foreground);
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;

  canvas {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

// SHARED

.hidden {
  display: none !important;
}

// SETTINGS

.settings-dropdowns {
  border: 1px solid transparent;
  border-width: 0 1px;
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0 10px 0 0;
  overflow-y: visible;
  padding: 0;
  position: absolute;
  right: @settings-toggle-size;
  top: 10px;
  user-select: none;

  // Vertically aligned dropdowns
  &.align-vertical {
    bottom: 10px;
    flex-direction: column;
    overflow-y: auto;
    width: 170px;

    // List items when parent is vertically aligned
    > * {
      flex-shrink: 0;
    }
  }

  // Horizontally aligned dropdowns
  &:not(.align-vertical) {
    height: @settings-toggle-size;
    left: 10px;

    // List items when parent is horizontally aligned
    > * {
      cursor: pointer;
      flex-basis: 170px;
      height: @settings-toggle-size;

      &:hover,  &.locked {
        border: 1px solid grey;
        height: fit-content;
        overflow-y: visible;

        > p {
          background-color: lightgrey;
          background-image: url("../images/icon_unlock.png");
        }
      }

      &.locked > p {
        background-image: url("../images/icon_lock.png");
      }
    }
  }

  // List items
  > * {
    background-color: rgba(255, 255, 255, 0.65);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid lightgray;
    color: grey;
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: left;

    // Dropdown item title 'p' element
    > *:first-child {
      background: none no-repeat left 6px center/16px;
      background-image: none;
      border-bottom: 1px solid lightgrey;
      color: black;
      height: @settings-toggle-size;
      line-height: 30px;
      margin: 0;
      padding: 0 10px;
      text-align: center;
    }

    .setting-item-toggle {
      background: url("../images/icon_settings@2x.png") no-repeat left center/16px;
      border-radius: 12px;
      cursor: pointer;
      line-height: 26px;
      margin: 6px 10px 6px 6px;
      padding: 0 0 0 20px;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        background-image: url("../images/icon_settings_x@2x.png");
      }
    }

    .setting-item-button {
      border-radius: 12px;
      cursor: pointer;
      line-height: 26px;
      margin: 6px 10px 6px 6px;
      padding: 0 0 0 20px;

      &:hover {
        text-decoration: underline;
      }
    }

    .setting-item-input {
      align-items: center;
      display: flex;
      height: 20px;
      margin: 6px 6px 0 10px;

      input {
        width: 50px;
      }

      p {
        margin-left: 4px;
      }
    }

    .setting-item-arrow {
      display: inline-block;
      height: 60px;
      margin: 10px;

      canvas {
        background-color: white;
        border-radius: 50%;
        border: 1px solid grey;
        cursor: pointer;
        display: inline-block;
        height: 60px;
        padding: 0;
        vertical-align: middle;
        width: 60px;
      }

      p {
        display: inline-block;
        margin-left: 4px;
      }
    }
  }
}

.settings-minimize-button {
  background: "" no-repeat center/contain;
  background-color: rgba(255, 255, 255, 0.65);
  background-image: url("../images/icon_x.png");
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1px solid lightgray;
  border-radius: 0 15px 0 0;
  cursor: pointer;
  height: @settings-toggle-size;
  position: absolute;
  right: 10px;
  top: 10px;
  width: @settings-toggle-size;

  &:hover {
    background-color: lightgrey;
  }

  &.minimized {
    background-image: url("../images/icon_plus.png");
    border-radius: 15px 15px 15px 0;
    border-width: 1px;
  }

  &.right-stack {
    background-image: url("../images/icon_rightStack.png");
  }
}

.settings-toolbox {
  background-color: rgba(255, 255, 255, 0.65);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 11px 0 0 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: @settings-toggle-size;

  // Select toolbox items
  > * {
    background: url("../images/icon_settings@2x.png") no-repeat center/26px;
    border: 1px solid lightgray;
    cursor: pointer;
    height: @settings-toggle-size;
    width: @settings-toggle-size;

    &:last-child {
      border-width: 1px;
    }

    &.active {
      border-color: black;
      background-color: lightgray;
    }
  }
}

#settings-item-toolbox-pointer {
  background-size: 55%;
  background-image: url("../images/toolbox_icon_cursor_alt.svg");
}
#settings-item-toolbox-constructor {
  background-image: url("../images/toolbox_icon_vertex_add.png");
}
#settings-item-toolbox-eraser {
  background-image: url("../images/toolbox_icon_vertex_remove.png");
}
#settings-item-toolbox-pather {
  background-image: url("../images/toolbox_icon_pathing.png");
}
#settings-item-toolbox-physcisDebugger {
  background-image: url("../images/toolbox_icon_physics.png");
}


// MODAL

.modal {
  background-color: rgba(0, 0, 0, 0.75);
  inset: 0 0 0 0;
  position: absolute;
  text-align: center;

  > div {
    box-shadow: 0 0 20px 0 black;
    background-color: white;
    border-radius: 14px;
    left: 50%;
    margin: 0;
    max-width: 400px;
    padding: 20px;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    > p {
      margin: 0 0 8px 0;
      font-size: 14px;
    }

    > .modal-close {
      cursor: pointer;
      border-radius: 4px 12px 4px 4px;
      border: 1px solid gray;
      background-color: transparent;
      position: absolute;
      top: 2px;
      right: 2px;

      &:hover {
        background-color: lightgray;
        border-color: transparent;
        color: white;
      }
    }

    > textarea {
      border: 1px solid black;
      min-height: 200px;
      width: 98%;
    }
  }
}

#modal-layout-button-load {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  float: right;
  margin-top: 10px;
}

#modal-layout-load {
  display: none;
}


// CONSOLE OUTPUT

.console-container {
  bottom: 10px;
  display: flex;
  height: 200px;
  left: 10px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;

  &.minimized {
    height: unset;
    right: unset;

    .console-sidebar-container .console-minimize-button {
      background-image: url("../images/icon_plus.png");
      border-radius: 15px 0 15px 15px;
    }
  }

  .console-sidebar-container {
    height: 100%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: @settings-toggle-size;

    .console-sidebar-controls {
      background-color: rgba(255, 255, 255, 0.65);
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
      border: 1px solid lightgray;
      border-width: 1px 1px 0 1px;
      display: flex;
      flex-direction: column-reverse;
      flex-grow: 1;
      height: @settings-toggle-size;
      width: @settings-toggle-size;

      > * {
        cursor: pointer;
        display: inline-block;
        height: @settings-toggle-size;
        width: @settings-toggle-size;
      }
      #setting-item-console-clear {
        background-image: url("../images/icon_trash.png");

        &:hover {
          background-image: url("../images/icon_trash_alt_dark.png");
        }
      }
      #setting-item-console-text-render {
        background-image: url("../images/icon_textLabel_off.png");

        &:hover {
          background-image: url("../images/icon_textLabel_off_alt.png");
        }

        &.active {
          background-image: url("../images/icon_textLabel.png");

          &:hover {
            background-image: url("../images/icon_textLabel_alt.png");
          }
        }
      }
    }
    .console-minimize-button {
      background-color: rgba(255, 255, 255, 0.65);
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
      background: "" no-repeat center/contain;
      background-image: url("../images/icon_x.png");
      border: 1px solid lightgray;
      border-radius: 0 0 0 15px;
      cursor: pointer;
      display: inline-block;
      flex-shrink: 0;
      height: @settings-toggle-size;
      width: @settings-toggle-size;

      &:hover {
        background-color: lightgray;
      }
    }
  }

  .console-output {
    background-color: rgba(255, 255, 255, 0.65);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid lightgray;
    list-style: none;
    flex-grow: 1;
    margin: 0;
    overflow-y: auto;
    padding: 0;

    // Log items
    > * {
      border-bottom: 1px dashed lightgray;
      font-size: 12px;
      padding: 4px;

      &:last-child {
        border-bottom: unset;
      }

      &:hover {
        background-color: lightgray;
      }
    }
  }
}
